body {
  font-family: "Lato", sans-serif;
}

.modal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

.modal-content {
  background-color: rgba(24, 23, 23, .8);
  margin: auto;
  padding: 3em 4em;
  width: 80%;
  max-width: 700px;
}

.modal-close {
  color: rgba(255, 255, 255, 0.87);
  float: right;
  font-size: 62px;
  font-weight: 100;
}

.modal-close:hover,
.modal-close:focus {
  color: rgba(255, 255, 255, 0.87);
  text-decoration: none;
  cursor: pointer;
}

.modal-intro-content {
  color:rgba(255, 255, 255, 0.87);
  font-size: 16px;
  font-weight: 100;
  line-height: 1.5;
}

.modal-title {
  font-style: italic;
  font-size: 1.5em;
}

.sidenav {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(24, 23, 23, .8);
  overflow-x: hidden;
  padding-top: 60px;
}

.sidenav .content {
  padding: 3em;
  font-size: 15px;
  color: white;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  text-decoration: none;
  transition: 0.3s;
  color: white;
  display: block;
}

#nav-content-block-img {
  margin-right:-12%;
}

#main-img {
  padding-bottom: 5px;
  width: 81%;
}

#extra-images {
  display: flex;
  flex-wrap: wrap;
}

#extra-images .img {
  margin-right: 1em;
  margin-bottom: 1em;
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 100px;
  /* https://stackoverflow.com/questions/15920775/image-decode-times-from-chrome-timeline-dev-tool */
  /* used to cache image decode, since some of these images are too big */
  -webkit-transform : translate3d(0,0,0);
  transform : translate3d(0,0,0);
}

#project-description {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  color: white;
  padding-top: 4%;
  line-height: 1.5;
}

#absolute-logo{
    position: absolute;
    width: 6%;
    bottom: 78%;
    left: 91%;
    }

#main {
  transition: margin-left .5s;
  padding: 16px;
}

#drawboard {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav .content {font-size: 18px;}
}

#footer {
  z-index: 1;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10vh;
  text-align: left;
  background-color: #d2232a;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: white;
}

.footer-text {
  padding-top: 2%;
  padding-left: 5%;
  display:inline-block
}

#footer-about-text {
  padding-top: 2%;
  padding-left: 45%;
  display:inline-block;
}

.footer-text .footer-link {
  cursor: pointer;
}

#prototype-gallery-container {
  margin: 2em 6em;
}

#prototype-img-container {
  display: flex;
  flex-wrap: wrap;
}

#prototype-img-container .close-btn-container {
  display: flex;
  justify-content: center;
}

#prototype-img-container img {
  margin-right: 1em;
  margin-top: 1em;
}

.selected-thumbnail {
  border: 3px solid black;
}
