body {
  font-family: "Lato", sans-serif;
}

.modal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(24, 23, 23, .8);
}

.modal-content {
  background-color: rgba(24, 23, 23, .8);
  margin: auto;
  padding: 3em 4em;
  width: 80%;
  max-width: 900px;
}

.modal-close {
  color: rgba(255, 255, 255, 0.87);
  float: right;
  font-size: 62px;
  font-weight: 100;
}

.modal-close:hover,
.modal-close:focus {
  color: rgba(255, 255, 255, 0.87);
  text-decoration: none;
  cursor: pointer;
}

.modal-intro-content {
  color:rgba(255, 255, 255, 0.87);
  font-size: 16px;
  font-weight: 100;
  line-height: 1.5;
}

.modal-title {
  font-style: italic;
  font-size: 1.5em;
}

.sidenav {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(24, 23, 23, .8);
  overflow-x: hidden;
  padding-top: 60px;
}

.sidenav .content {
  padding: 3em;
  font-size: 15px;
  color: white;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  text-decoration: none;
  transition: 0.3s;
  color: white;
  display: block;
}

#nav-content-block-img {
  margin-right:-12%;
}

#main-img {
  padding-bottom: 5px;
  width: 81%;
}

#extra-images {
  display: flex;
  flex-wrap: wrap;
}

#project-title {
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: bold;
}
#student-name {
  margin-bottom: 1em;
}

#extra-images .img {
  margin-right: 1em;
  margin-bottom: 1em;
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 100px;
  /* https://stackoverflow.com/questions/15920775/image-decode-times-from-chrome-timeline-dev-tool */
  /* used to cache image decode, since some of these images are too big */
  -webkit-transform : translate3d(0,0,0);
  transform : translate3d(0,0,0);
}

#project-description {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  color: white;
  padding-top: 4%;
  line-height: 1.5;
}

#absolute-logo{
  width: 6%;
}

#side-footer {
  position: absolute;
  top: 50px;
  left: 50px;
  pointer-events: none;
}

#side-footer > .section-title {
  margin-top: 2em;
  text-transform: uppercase;
  letter-spacing: .15em;
  font-size: 1.15em;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

#side-footer .selected-title {
  background-color: #d2232a;
  color: white;
  text-shadow: none;
  padding: 1em;
}

.sub-section.closed {
  display: none;
}

#side-footer .sub-section {
  margin-top: 1.5em;
  margin-left: 1em;
}

#side-footer .section-title .sub-section-title {
  pointer-events: none;
  margin-bottom: .45em;
}

.sub-section-title a.selected {
  color: #d2232a;
}

.sub-section-title a {
  pointer-events: all;

  margin-top: 2em;
  text-transform: none;
  letter-spacing: .1em;
  font-size: .75em;
  font-family: Helvetica, sans-serif;
  font-weight: normal;
}

/* activate pointer events for the links */
#side-footer a {
  text-shadow: 2px 2px 4px white;
  cursor: pointer;
  pointer-events: all;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

#drawboard {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav .content {font-size: 18px;}
}

.selected-thumbnail {
  border: 3px solid black;
}

#editor-container {
  position: absolute;
  top: 50px;
  right: 50px;
  border: 1px solid;
}


#about-section-button {
  position: absolute;
  pointer-events: none;
  color: #d2232a;
  
  top: 90vh;
}

#about-button {
  pointer-events: all;

  margin-top: 2em;
  text-transform: none;
  letter-spacing: .1em;
  font-size: 1em;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}
